<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789928959183-e0t862ojar19pgulcnbm1hkr9b8t0a33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789928959183-e0t862ojar19pgulcnbm1hkr9b8t0a33</string>
	<key>API_KEY</key>
	<string>AIzaSyDMFO-5Hg6ujDDvi2mJleIi3UTSm_b5E_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>789928959183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tryFirebaseStore</string>
	<key>PROJECT_ID</key>
	<string>try-firebase-store</string>
	<key>STORAGE_BUCKET</key>
	<string>try-firebase-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789928959183:ios:c607f99787bd8ddc512bba</string>
</dict>
</plist>